.text__editor__title {
    width: 99%;
    height: 40px;
    outline: 0;
    font-size: 20px;
}

h4 {
    margin: 5px;
}
.text__editor__actions {
    padding: 20px;
}
.text__e__cat{
    margin: 40px 0;
}